#picked-photo{
    height: 300px;
    width: 400px;
    border: 1px solid blue;
    background-repeat: no-repeat;
    background-size: cover;
}

#slc{
    border: 1px solid blue;
    background-color: blue;
    position: absolute;
}

